<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="weather, city weather, global cities, temperature, precipitation, forecast, weather identifier, wind speed">
        <meta name="author" content="Saif Kayyali">
        <meta name="description" content="A website that allows users to find detailed weather information of cities across the globe based on their preference.">
        <meta name="google-site-verification" content="9CFF2hHOkAER-r2te3p3Vhx6zA2YaOnGzuvKdowu51E" />
        <link rel="canonical" href="https://city-weather-identifier.vercel.app/" />
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

        <title>City Weather Identifier</title>
        
        <link rel="icon" href="{{ url_for('static', filename='images/CityWeatherIdentifier.png') }}" type="image/png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Style.css') }}">
    </head>

    <body>
      <h1 id="header1">City Weather Identifier</h1>
      <br>
      <hr>
      <br>
      <div class="form-container">
        <form method="POST" class="mb-4" id="form">
            <label style="font-size: 20px;">Enter City and Country Names <br>
                (abbreviating long country names allowed):</label>
            <input id="city" type="text" class="form-control" name="city" placeholder="City, Country"> 
            <br>
            <div class="col-md-4">
            <select id="dropdown" class="form-select" name="Weather-Details">
              {% for opt in options %}
               <option value="{{ opt }}">{{ opt }}</option>
              {% endfor %}
              </select>
            </div>
            <br>
            <div class="col-md-2">
              <button id="button" class="btn btn-primary w-100" type="submit">Get Weather</button>
            </div>
          </form>
      </div>
      <div id="textarea">
        {% if name %} 
        <h3 id="cityname">City name: <span style="text-decoration: underline;"> {{name}} </span></h3>
        {% endif %}

        {% if table_html %}
           {% if option == "Temperature (Across week)" %}
              <div class="table-vertical mt-4">
                 {{ table_html | safe }}
              </div>
            {% else %}
              <div class="table-horizontal mt-4">
                {{ table_html | safe }}
              </div>
            {% endif %}
          {% endif %}

         {% if error %}
          <div class="alert alert-danger text-center">{{ error }}</div>
         {% endif %}
      </div>
     
     <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
     <script>
        if ("serviceWorker" in navigator) {
          window.addEventListener("load", () => {
            navigator.serviceWorker.register("{{ url_for('static', filename='sw.js') }}").then((reg) => console.log("Service Worker registered.", reg)).catch((err) => console.log("Service Worker registration failed:", err));});
        }
      </script>

   </body>
</html>
